<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- loading-libraries -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/3.5.0/fabric.min.js"></script>
    <script src="../lib/FileSaver.min.js"></script>

    <script src="../lib/three.min.js"></script>
    <script src="../lib/three-vrm.min.js"></script>
    <script src="../lib/GLTFLoader.js"></script>
    <script src="../lib/OrbitControls.js"></script>
    <script src="../lib/jszip.min.js"></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!--Import materialize.css-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"
    />
    <!-- フォントファイル -->
    <link
      href="https://fonts.googleapis.com/css?family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/earlyaccess/nicomoji.css"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/earlyaccess/nicomoji.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=M+PLUS+1p"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/earlyaccess/hannari.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/earlyaccess/nikukyu.css"
      rel="stylesheet"
    />
    <script src="./script/threeJSscript.js"></script>
    <script src="./script/stampScript.js"></script>
    <!-- CHANGED: -->
    <script src="./script/submitScript.js"></script>

    <!-- CHANGED: -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" href="./css/style.css" />
    <title>Emoji Stamp Maker</title>
  </head>

  <body>
    <!-- <div class="row"> -->
    <nav>
      <div class="nav-wrapper">
        <a href="#modal1" class="brand-logo center modal-trigger"
          ><span style="font-family: 'Pacifico', cursive; font-size: 65%;"
            >Emoji Stamp Maker</span
          >
        </a>
        <!-- <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Sass</a></li>
                <li><a href="badges.html">Components</a></li>
                <li><a href="collapsible.html">JavaScript</a></li>
            </ul> -->
      </div>
    </nav>

    <div id="modal1" class="modal">
      <div class="modal-content" style="text-align: center;">
        <h4>About Emoji Stamp Maker</h4>
        <img src="./assetts/poster3.jpg" style="width: 30%; height: auto;" />
        <p>version 1.0.0</p>
        <p>Frontend Coding: Endo, Kitsuya</p>
        <p>Backend Coding: Hayasaka, Hinoto</p>
        <p>Charactor・Poster Design: Nara</p>
        <p>©2020 Emoji Stamp Maker,All rights reserved.</p>
      </div>
      <div class="modal-footer">
        <a
          href="#!"
          class="modal-action modal-close waves-effect waves-green btn-flat"
          >Close</a
        >
      </div>
    </div>

    <div id="app">
      <div class="adjust-box box-1x1">
        <canvas id="modelBackground" width="400" height="400"></canvas>
        <canvas id="stampCanvas_lower" width="400" height="400"></canvas>
        <canvas id="stampCanvas_upper" width="400" height="400"></canvas>

        <canvas
          id="model_preview"
          v-show="toggleView && !stampEditMode"
        ></canvas>
        <video
          id="cam_preview"
          autoplay
          playsinline="true"
          v-show="!toggleView && !stampEditMode"
        ></video>
      </div>
      <div class="card">
        <div v-show="!stampEditMode">
          <div class="row">
            <div class="input-field col s6" v-show="toggleView">
              <select v-model="selectedModel" @change="changeModel">
                <option value="" disabled selected>モデルを選択</option>
                <option value="bear.vrm">Kuma</option>
                <option value="MikuMiku.vrm">MikuMiku</option>
                <option value="AliciaSolid.vrm">Alicia</option>
              </select>
              <label>chose model</label>
            </div>
            <!-- 姿勢推定モード -->
            <a class="btn  orange darken-1 col s6" @click="activateCamera"
              ><span v-if="toggleView">カメラを起動</span
              ><span v-if="!toggleView">撮影</span></a
            >
            <a
            class="btn-floating waves-effect btn-large waves-light red"
            v-on:click="toggleCamera"
            v-if="!toggleView"
            v-show="!stampEditMode"
            ><i class="material-icons">switch_camera</i></a
          >
          </div>
          <ul class="collapsible z-depth-1">
            <li>
              <div class="collapsible-header">
                ModelSetting
              </div>
              <div class="collapsible-body">
                <div class="row">
                  <div class="input-field col s6" v-show="toggleView">
                    <select
                      v-model="selectedBlendedShape"
                    >
                      <option value="" disabled selected> 表情のコントロール</option>
                      <option value="Joy">喜</option>
                      <option value="Angry">怒</option>
                      <option value="Sorrow">哀</option>
                      <option value="Fun">楽</option>
                      <option value="BlinkL">左目</option>
                      <option value="BlinkR">右目</option>
                    </select>
                    <label>chose</label>
                    <p class="range-field">
                      <input type="range" step="0.1" max="1.0" v-model="BlendedShapeValue" @change="changeBlendedShape"/>
                    </p>
                  </div>
                  <div class="text-color-picker col s6">
                    BackGroundColor
                    <div style="margin-bottom: 3px;">
                      <a
                        class="waves-light btn-floating red"
                        @click="changeBackgroundColor('rgba(200,0,0,1)')"
                      ></a>
                      <a
                        class="waves-light btn-floating blue"
                        @click="changeBackgroundColor('rgba(39, 241, 241,1)')"

                      ></a>
                      <a
                        class="waves-light btn-floating green"
                        @click="changeBackgroundColor('rgba(39, 241, 140,1)')"

                      ></a>
                    </div>
                    <div>
                      <a
                        class="waves-light btn-floating pink"
                        @click="changeBackgroundColor('rgba(229, 111, 192,1)')"

                      ></a>
                      <a
                        class="waves-light btn-floating yellow"
                        @click="changeBackgroundColor('rgba(233, 237, 48,1)')"

                      ></a>
                      <a
                        class="waves-light btn-floating purple"
                        @click="changeBackgroundColor('rgb(179, 21, 207,1)')"
                      ></a>
                    </div>
                    <div>
                      <a
                        class="waves-light btn-floating white"
                        @click="changeBackgroundColor()"

                      ></a>
                  </div>

                </div>
                <!-- <div class="row">
                  <div class="col s6">
                    <label class="btn">
                      背景画像
                      <input type="file" id="imgfile"　style="display: none;" />
                    </label>
                  </div>
                </div> -->
              </div>
            </li>
          </ul>
          <div class="row">
            <a
              class="btn pink darken-1 col s12"
              @click="toggleStampEditMode"
              v-show="toggleView"
              >ポーズを決定</a
            >
          </div>

          <!-- <input class="btn" type="button" value="カメラの切り替え" v-on:click="toggleCamera" v-if="!toggleView" /> -->

          

          <!-- <label class="btn">
              写真を選択
              <input type="file" style="display: none;" />
            </label> -->

          <!-- <a class="btn" v-on:click="grabImage" id="dllink" download="canvas.png"
              >ポーズを決定</a
            > -->
        </div>
        <div v-show="stampEditMode">
          <!-- スタンプ作成モード -->
          <div class="input-field">
            <div class="input-div">
              <input
                id="stampText"
                type="text"
                class="validate"
                v-model="Text"
                @change="changeText"
              />
              <label for="stampText">文字を入力</label>
            </div>
            <div>
              <ul class="collapsible z-depth-1">
                <li>
                  <div class="collapsible-header">
                    <i class="material-icons">format_size</i>TextStyle
                  </div>
                  <div class="collapsible-body row">
                    <div class="text-color-picker col s6">
                      TextColor
                      <div style="margin-bottom: 3px;">
                        <a
                          class="waves-light btn-floating red"
                          @click="changeTextColor('red')"
                        ></a>
                        <a
                          class="waves-light btn-floating blue"
                          @click="changeTextColor('blue')"
                        ></a>
                        <a
                          class="waves-light btn-floating green"
                          @click="changeTextColor('green')"
                        ></a>
                      </div>
                      <div>
                        <a
                          class="waves-light btn-floating pink"
                          @click="changeTextColor('pink')"
                        ></a>
                        <a
                          class="waves-light btn-floating yellow"
                          @click="changeTextColor('yellow')"
                        ></a>
                        <a
                          class="waves-light btn-floating purple"
                          @click="changeTextColor('purple')"
                        ></a>
                      </div>
                    </div>
                    <div class="input-field text-picker col s6">
                      TextFont
                      <select v-model="selectedFont" @change="changeFonts">
                        <option value="Nico Moji">ニコモジ</option>
                        <option value="M PLUS 1p">M PLUS 1p</option>
                        <option value="M PLUS Rounded 1c"
                          >M PLUS Rounded 1c</option
                        >
                        <option value="Hannari">はんなり明朝</option>
                        <option value="Nikukyu">ニクキュウ</option>
                      </select>
                    </div>
                    <div class="row">
                      <div class="col">
                        BorderWeight
                        <div>
                          <a
                            class="btn pink darken-3"
                            @click="changeBorderWidth(25)"
                            >Heavy</a
                          >
                          <a
                            class="btn pink darken-2"
                            @click="changeBorderWidth(20)"
                            >Middle</a
                          >
                          <a
                            class="btn pink darken-1"
                            @click="changeBorderWidth(15)"
                            >Light</a
                          >
                        </div>
                      </div>
                    </div>
                    
                    <a class="btn pink accent-2" @click="writeDownToLowerCanvas"
                      >位置を確定</a
                    >
                  </div>
                </li>
              </ul>
            </div>
            <a class="btn orange lighten-2" @click="nextStamp">次のスタンプ</a>
            <a
              class="btn orange darken-3"
              @click="grabImage"
              id="dllink"
              download="canvas.zip"
              >完成！({{stampImg.length+1}}ファイルZipでDL)</a
            >
            <!--a class="btn"  @click=imagedownload>完成！</a-->
          </div>
        </div>
      </div>
    </div>

    <!-- 画像ファイルを送信するとこ.デバッグ用
    <form id="my_form">
      <input type="file" name="file">
      <button type="button" onclick="sendFile();">送信</button>
    </form>
    -->
    <!-- CHANGED: 撮影した画像を載せるキャンバス．非表示になってる-->
    <canvas id="imageSaveCanvas"></canvas>

    <!-- </div> -->

    <!--JavaScript at end of body for optimized loading-->
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-2.1.1.min.js"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="./script/vuescript.js"></script>
    <script>
      //materializeのselectの初期化
      document.addEventListener("DOMContentLoaded", initMaterialize);

      function initMaterialize() {
        M.AutoInit();
      }
    </script>
  </body>
</html>
